name: Monitor Diário
on:
  schedule:
    - cron: '0 11,15,19,23 * * *' # Horários equivalentes aos seus (UTC)
  workflow_dispatch: # Permite rodar manualmente para testar

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Run script
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python cebraspe.py
      - name: Commit changes # Importante: Salva o estado do banco de dados
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add db_hashes.json
          git commit -m "Atualiza base de dados" || exit 0
          git push
